
<!-- <div id="messages"> -->

  <%# if @over_ten %>
   <%#= link_to "Show Previous", "?m=all" %>
  <%# end %>
  <div class="ui segment" id="messages">
   <% @messages.each do |message| %>
           <%= render 'messages/show', message: message %>
  <% end %>
  </div>
<!-- </div> -->
<%= render 'messages/form', conversation: @conversation, message: @message %>
