.search-page {
  display: flex;


  .search-bar {
    display: inline-block;
    width: 25%;
    margin-top: 0;
    margin-bottom: 50px;
  }

  #map {
    flex: 0 0 450px;
    height: 100vh;
    position: sticky !important;
    top: 0 !important;
    display: none;
  }

  .results {
    flex-grow: 1;
  }

  @media all and (min-width: 1000px) {
    #map {
      display: block;
    }
    .card-description {
      font-size: 14px;
      position: relative;
    }
    .card-footer {
      padding: 5px;
    }

    .results {
      margin-right: 50px;
    }
  }
}
