// Specific CSS for your home-page
.banner {
  background-image: linear-gradient(to bottom,rgba(32, 114, 3, .6), rgba(56, 13, 90, .7)), url("neighborhood.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;

}
.banner-content {

  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;

}

.banner-content i {
  padding: 50px;
}

.fas {
  padding-top: 50px;
}

$category-icon-color: #5EEF3C;

.home-category-icon {
  color: $category-icon-color;
}
$category-icon-color-hover: darken($category-icon-color, 50%);

.home-category-icon:hover {
  color: $category-icon-color-hover;

}


