<h1>Hello there</h1>

 <% @bookings.each do |booking| %>
  <%= booking.experience.title %>
  <%= booking.experience.incentive %>
  <%= booking.date %>
  <%= link_to 'view', booking_path(booking) %>

 <% end %>
