

 .page_contains{
  padding: 30px 100px;
  background-image: linear-gradient(to bottom,rgba(32, 114, 3, 0), rgba(56, 13, 90, 0));
  position: sticky;
  top: 0;
  // height: 100vh;

  // height: 15000px;
}


.contain {
  padding: 30px 160px;
  display: grid;
  grid-template-columns: 60% 40%;
  background-image: linear-gradient(to bottom,rgba(32, 114, 3, 0), rgba(56, 13, 90, 0));

  height: auto;
}


@media all and (max-width: 720px) {
  .contain {
    padding: 2%;
      grid-template-columns: 100%;
  }
}
