.slick-slide {
    margin: 0 5px;
}
// .slide_cntr {
//    width: 100%;
//   height: auto;
// }
.slider_nav_cntnr {
  margin: auto;
  max-width: 300px;
}


.slick-prev:before, .slick-next:before {
  color: rgb(114, 8, 153) ;
}

.slick-slide img {
  // width: auto !important;
  // min-width: 40px;

}

.slick-list {
  margin: 30px 0;
}

.slick-track {

  // width: auto;
  // margin: auto;
}
.slider-for {
  .slick-list {
    margin: 0;
  }

  .slick-slide {
      margin: 0;
  }
}

.slick_flex {
  display: flex;
}

  @media (max-width: 400px) {
    .slick-prev:before, .slick-next:before {
      display:none ;
    }
    .slick_flex {
      margin-top: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
}

.card  *{
 max-width: calc(100%-10px)
}
