<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner">
  <div class="banner-content"> <h1>A Guided Treasure Hunt In Your Neighborhood</h1>
    <p>they're just around the corner</p>
      <i class="fa fa-coffee fa-5x" aria-hidden="true"></i>
      <i class="fa fa-glass fa-5x" aria-hidden="true"></i>
      <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
      <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
      <i class="fa fa-flag fa-5x" aria-hidden="true"></i>
  </div>
</div>



