

<div class="banner">
  <div class="banner-content"> <h1>A Guided Treasure Hunt In Your Neighborhood</h1>
    <p>they're just around the corner</p>


    <div class="fas">

      <% @categories.each do  |c|  %>
        <%= link_to category_path(c), class: 'home-category-icon' do %>
          <!-- link_to category icon -->
        <i class="fa <%=c.icon%> fa-5x" aria-hidden="true"></i>
        <% end %>
      <% end %>


  </div>
</div>



