
// .page-wrap{
//   height: calc(100vh - 100px);
//   min-height: 90vh;
//   height: auto;
//   position: relative;
// }



* {
  margin: 0;
}
// html, body {
//   height: 100%;
// }
.page-wrap {
  min-height: 100%;
  margin-bottom: -142px;
  height: 100%;
}
// .page-wrap:after {
//   content: "";
//   display: block;
// }
.site-footer, .page-wrap:after {
  height: 42px;
}
.site-footer {
  background: orange;
}


// .footer {
//   background: #f2f8fc;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 50px;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
//   margin-bottom: 0;
//   position: relative;
//   bottom: 0;
//   width: 100%;
//   position: absolute;
//   bottom: -20;
// }
// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: #520090;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 14px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   color: #94c3f3;
// }
// .footer .fa-heart {
//   color: #D23333;
// }

// .footer i {
//   padding: 35px;
// }
