.nsj_card {
  height: 150px;
  width: 220px;
  margin: 10px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.njs-card-user {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px !important;
  height: 40px;
  border-radius: 50%;
}
